.footer-holder {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 0.7rem;
    background-color: var(--light-purple);
}

.footer-heading {
    font-weight: 700;
    color: var(--dark-purple);
    margin-bottom: 1rem;
}

.footer-logo img{
    width: 80%;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-list-item a {
    text-decoration: none;
    color: var(--grey);
}

.footer-about {
    width: 35%;
}

.footer-about-text {
    color: var(--grey);
}

.footer-location,
.footer-time,
.footer-call {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.3rem;
    color: var(--grey);
}

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    padding: 0.3rem;
}

.bootom-bar-text {
    font-weight: 300;
    color: var(--grey);
    font-size: 0.7rem;
}

@media screen and (max-width: 1024px) {
    .footer-holder {
        flex-direction: column;
    }

    .footer-about {
        width: 100%;
    }
}